.app__modal {
  @include elem(block, 100vw, 100vh, 10px, $opacity:0);
  @include position();
  transform: translateX(100vw);
  overflow: scroll;
  transition: 500ms all ease-in-out;

  .modal__container {
    position: relative;
    height: 100%;
    padding: 35px 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px color('secondary');

    .modal__title {
      @extend .text-left;
      font-weight: $MEDIUM_WEIGHT;
      padding-bottom: 15px;
    }
  }
  &.js-show {
    transform: translateX(0vw);
    opacity: 1;
  }

  @media (min-width: $xs) {
    .modal__container {
      .modal__title {
        padding-bottom: 25px
      }
      .income__form {
        .modal__buttons {
          padding-top: 50px;
        }
      }
    }
  }
  @media (min-width: $sm) {
    width: 50vw;
    left: 50vw;
    padding-left: 5vw;
  }
  @media (min-width: $md) {
    padding: 50px;
    .modal__container {
      padding: 50px 25px;
    }
  }
  @media (min-width: $xl) {
    width: 40vw;
    left: 60vw;
  }
}
