<div class="container-fluid app__content">
  <div class="container">
    <div class="col-12">
      <h1 class="app__title">{{ title }}</h1>
      <h3 class="app__sub-title">Welcome {{ author }}</h3>
    </div>
    <div class="col-12">
      {{> incomes_list }}
    </div>
    <div class="col-12">
      <button class="button add-income" type="button" name="button">Add Income</button>
    </div>
  </div>
</div>
